{% extends "base.html" %}
{% block title %} {{ super() }} - ABOUT ME {% endblock %}
{% block background %}background-color: #f5f5f5;{% endblock %}
{% block content %}
    <br><br>
    <div class="text-center"><h2>ABOUT ME</h2></div>
    <div class="row">
        <div class="col-md-6">
            <br><br>
            <img src="/static/photo/me2.jpg" alt="" width="700px">
            <br><br>
        </div>
        <div class="col-md-6">
            <br><br>
            <div style="font-size: large">
                <p><span class="firstchar">W</span>hen you are 85 years old, will you think about the time you saved a lot
                of money and bought a nice car? Or will you think about the memory you had travelling to many countries
                and meeting new people? For me, I'd gladly choose the latter. My name is Khoa and I consider myself an avid
                cheap traveler. Who is a cheap traveler you might ask? It is someone who does not have the means to realize the
                dream to travel but finds way to do it anyway because they do not want to let the society make them conform
                 to such intangible standards.</p>
                <br>
                <p>
                 I worked in the finance industry for almost three years and then finally realized that it is not the career for me.
                    I could not comprehend the fact that I would be stuck to an office desk for the entire year and only have
                    2 weeks of vacation per year. I decided to switch career and went back to school to pursue my actual dream which is
                     to be come a software engineer. For the longest time, I've only thought about the fact that the majority of us
                    has never been exposed to anything outside of our own country and it baffles me. We cohabit with 8 other billion
                    human-beings and we only see around 0.1% of them. The knowledge we have in this world is procured by other human-beings,
                     the people that we live with. Therefore, I think the best way to open our eyes and learn about the world is through
                     other human beings.

                </p>
                <br>
                <div class="blockquote">
                    <p>"Travel light in clothes, heavy in memories"</p>
                    <p class="blockquote--author">-Unknown-</p>
                </div>
                <p>I created this website out of my passion for travelling. I don't think we as a society has the opportunity to
                travel enough. Hopefully, through my website, I can inspire more people to step out of their shells and start
                experiencing the world.</p>
                <br>
            </div>
        </div>

    </div>
{% endblock %}