{% extends "base.html" %}
{% block title %} {{ super() }} - DESTINATIONS{% endblock %}
{% block background %}background-color: #f5f5f5;{% endblock %}

{% block content %}
    <br><br>
    <div class="container">
        <div class="text-center"><h2>DESTINATIONS</h2></div>
        <br><br>
        <div class="row">
        {% for i in range(3) %}
            <div class="col-md-4" onmouseover="document.getElementById('display{{ i }}').style.display = 'flex';"
                 onmouseout="document.getElementById('display{{ i }}').style.display = 'none';">
                <h4>{{ continent[i] }}</h4>
                <div class="container visible" style="background-image: url({{background[i]}})">
                    <div class="row" id="display{{ i }}">
                        {% for country in countries[i] %}
                            <form class="row choice" method="post" action="{{ url_for('country',a=country) }}">
                            <a class=" link" href="{{ url_for('country',a=country) }}" style="margin: auto"><h5>{{country}}</h5></a>
                            </form>
                        {% endfor %}

                    </div>
                </div>
            <br>
            </div>
        {% endfor %}
        </div>
        <br><br>
     <div class="row">
        {% for i in range(3,6) %}
            <div class="col-md-4" onmouseover="document.getElementById('display{{ i }}').style.display = 'flex';"
                 onmouseout="document.getElementById('display{{ i }}').style.display = 'none';">
                <h4>{{ continent[i] }}</h4>
                <div class="container visible" style="background-image: url({{background[i]}})">
                    <div class="row" id="display{{ i }}">
                        {% for country in countries[i] %}
                            <form class="row choice" method="post" action="{{ url_for('country',a=country) }}">
                            <a class=" link" href="{{ url_for('country',a=country) }}" style="margin: auto"><h5>{{country}}</h5></a>
                            </form>

                        {% endfor %}

                    </div>
                </div>
            <br>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}